/* Rashik Rddy Gurrala - 1002031534
Venkata Sai Srihita Gollapudi- 1001995168
Shashi Preetham Dodla - 1002037593 */


form 
{
    width: 100%;
    margin: auto;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.contact .content{
    max-width: 100%;
    text-align: center;
}
.contact .content h1{
    width: auto;
    font-size: 36px;
    font-weight: 800;
    color: #060505;
}
.contact .content p{
    font-weight: 500;
    color: #040404;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #050505;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
}
.contactform{
    width: 100%;
    padding: 40px;
    background: #ffffff;
}
.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactform .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;   
}
.contactform .inputBox input,
.contactform .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline:none;
    resize: none;
}
.contactform .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactform .inputBox input:focus ~ span,
.contactform .inputBox input:valid ~ span,
.contactform .inputBox textarea:focus ~ span,
.contactform .inputBox textarea:focus ~ span
{
    color:#e91e63;
    font-size: 12px;
    transform: translate(-20px);
}
.contactform .inputBox input[type="submit"]
{
    width: 62.5%;
    background: #00bcd4;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media (max-width :991px)
{
    .contact{
        padding: 50px
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
        width:100%;
    }
}